/*	
	Table Of Contents
	
	1. =GENERAL
	2. =HEADER
		2.1 =LOGO
		2.2 =NAVIGATION
	3. =CONTENT
		3.1 =MAIN CONTENT
		3.2 =SIDEBAR
			3.2.1 =SIDEBAR NAVIGATION
			3.2.2 =CONTACT INFO 
	4. =FOOTER
	5. =MISC
		5.1 =ROUNDED CORNERS
		5.2 =CONTACT FORM	
				

-----------------------------------------------------------------------------------*/

/* =GENERAL
------------------ */

body { 
		padding:0; margin:0;
		background:#6e6e6e url(images/bg.gif) repeat-x top left; 
	    color:#434343;
	    font:normal 14px Arial, Helvetica, sans-serif; position:relative;  
	}

a { color:#0091D5; }
	a:hover { }

img{ border:none; }
	
table{ width:100%; margin-bottom:15px; line-height:24px; }
th{ border-top:3px solid #970205; padding:7px 10px; color:#fff;  background-color:#CA0308; text-align:left; }
td{ border-bottom:1px solid #f4f4f4; padding:10px; }

code{ display:block; margin-bottom:15px; padding:10px; border-left:5px solid #ddd; }

blockquote{ display:block; margin:15px; padding-left:50px; background:#fff url(images/blockquote-quotemark.gif) no-repeat top left; }
blockquote p{ font-style:italic; font-family:Georgia,"Times New Roman",Times,serif; margin:0; height:1%; }

/* align images + text */	

.img-left{ float:left; margin:10px 15px 15px 5px; }		/* Add this to any image you want to left align  */
.img-right{ float:right; margin:10px 5px 15px 15px; }	/* Add this to any image you want to right align */

.text-right{ text-align:right; }
.text-center{ text-align:center; }

/* Clear Fix Hack - add  class="fixed"  to div's that have floated elements in them */

.fixed:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
	.fixed{display:block;}
	/*  \*/
	.fixed{min-height:1%;}
	* html .fixed{height:1%;}


/* =HEADER
------------------ */

#header { margin:0 auto; width:900px; }

	/* =LOGO
	------------------*/
	
	.logo { padding:55px 0 30px 35px; margin:0;  color:#FFFFFF; }
		.logo a{ outline:none; }
		
	/* =NAVIGATION
	------------------*/
		
	.nav { padding:15px 15px 0 15px; background: #000 url(images/bg-nav.jpg) repeat-x top left;  -moz-border-radius: 5px 5px 0 0; }
	.nav ul { padding:0; margin:0; list-style:none; border:0;}
	.nav ul li { float:left; margin:0; padding:0 2px 0 0; border:0;}
	.nav ul li a { float:left; margin:0; padding: 5px 10px 20px 10px; color:#fff; 
				   font-size: 14px; font-weight:bold; text-transform:uppercase; text-decoration:none; outline:none; }
	.nav ul li a:hover{ text-decoration:underline; }
	.nav ul li a.active {  background:url(images/bg-nav-active.jpg) no-repeat bottom center; color:#97DDFE; }
	
/* =CONTENT 
-------------------*/

#content { width:830px; margin:0 auto; background-color:#FFF; padding:35px; }

	
	#content h2 { margin:0; padding:10px 5px; font-size: 30px; color:#252525; }
	#content h3 { margin:0; padding:15px 5px; font-size:18px; color:#252525; }
	#content h4 { margin:0; padding:15px 5px; font-size:16px; font-weight:bold; }
	#content ul { margin:0 40px 0 0; padding:0 10px 15px 20px; list-style:inside; } 
	#content li { margin:0; padding:0;} 
	#content ul li ul{ padding-bottom: 0px; }
	#content p, #content li { line-height:24px; }
	#content p { padding:5px; margin:0;}


	/* =MAIN CONTENT
	------------------*/
	
	#maincontent { float:left; width:520px; padding:0 0 30px 0; margin:0; text-align:justify; }

	/* =SIDEBAR
	------------------*/
	
	#sidebar { float:right; width:240px; margin-top:15px; padding:20px; background-color: #E5EDF0; border:1px solid #B6CCD4; 
	-moz-border-radius: 5px; color:#434343; }
	
		#sidebar  h3{ padding: 0 0 10px 0; margin-bottom:10px; font-size:20px; border-bottom:1px solid #434343; }
		#sidebar .title { background:url(images/news_title.gif) no-repeat left center; padding:5px 0 5px 20px; font-weight:bold;}


		/* =SIDEBAR NAVIGATION
		---------------------*/
		#sidebar ul.sidebar_nav { padding:0; margin:0; list-style:inside; list-style-type:square; }
		#sidebar ul.sidebar_nav li { padding:5px 10px; }
		#sidebar ul.sidebar_nav li a { background:none; color:#6e6e6e; font-weight:normal; padding:0 0 0 15px; text-decoration:none;  }
		#sidebar ul.sidebar_nav li a.active { color:#0000FF;}
		#sidebar ul.sidebar_nav li a:hover {  text-decoration:underline;}
			
		/* =CONTACT INFO 
		-------------------*/
		#sidebar ul.contact_info { padding:0; margin:0; list-style:none;} 
		#sidebar ul.contact_info li { width:210px; float:left; background:url(images/cont_bg.gif) no-repeat left center; padding:0 0 0 15px; margin:0 0 0 5px;}
		#sidebar ul.contact_info li a { padding:0; margin:0; background:none;}


/* =FOOTER 
-------------------*/

#footer { background: url(images/bg_footer.gif); padding:0; height:58px; margin:0 auto; padding:10px 40px; width:820px; }

	#footer p { font-size: 12px; color:#fff; }
	#footer a { color:#fff; text-decoration:underline;}
	.copyright{ float:left;}
	.credits{ float:right;}
		
/* =MISC
-------------------*/

	/* =ROUNDED CORNERS
	-------------------*/
	#round_bottom{ width:900px; height:20px; background:url(images/round-bottom.png) no-repeat top center; margin:0 auto; }
	
	
	/* =CONTACT FORM
	-------------------*/
	
	form { margin:0; padding:5px 10px;}

	form ol { margin:0; padding:0; list-style:none;}
	form li { margin:0; padding:0; background:none; border:none; display:block;}
	form li.buttons { margin:5px 0 5px 110px;}
	form label { margin:2px 10px 2px 0; width:170px; display:block; padding:3px 0;
				 text-transform:capitalize; float:left; text-align:right;}
	form label span { color:#2c2c2c;}
	form input.text { width:250px; border:1px solid #dcdcdc; margin:5px 0; padding:5px; height:16px; background:#FFF; float:left;}
	form textarea { width:250px; border:1px solid #dcdcdc; margin:5px 0; padding:5px; background:#FFF; float:left;}



