.divcont{
                position: absolute;
                left: 50%;
                top: 50%;
                width: 800px;
                height: 300px;
                margin-top: -150px;
                margin-left: -400px;
                overflow: auto;
		background-color:#0B0B61;
		text-indent: 3em;
}